name: Docker Build and Publish

on:
  # push:
  #   branches: [ "main" ]
  #   tags: [ "v*" ]
  # pull_request:
  #   branches: [ "main" ]
  workflow_dispatch:  # 允许手动触发
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  GITHUB_REF_NAME: ${{ github.ref_name }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.MY_PAT }}

      - name: Generate timestamp
        id: timestamp
        run: echo "date=$(date +%Y%m%d%H%M%S)" >> $GITHUB_OUTPUT
          
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=${{ env.GITHUB_REF_NAME != '' && env.GITHUB_REF_NAME || 'latest' }}-${{ steps.timestamp.outputs.date }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}